.bag{
    display: flex;
    padding: 100px;
    margin: 20px;
    margin-left: 60px
}
.r{
    padding: 20px;
    border: 3px darkorange solid;
    margin: 20px

}
body{
    font-family: Monospace;
    background-color:#DED9D9;
    font-size: 25px
}    
h1{text-align: center}
h2{text-align: center}

span{
    display:block;
    text-align: center;
    color: #3216B0 
}
img{
    margin-right: 50px
}
