body{
    font-family: Monospace;
     background-color:#DED9D9;
}
header{
    background-color: #B2F1FF;
    font-size: 20
}
h1{text-align: center}
h2{text-align: center}
.cover h1{
    text-align: left;
}
.cover h2{
    margin: 200px 150px 30px 0px
}
.cover p{
    margin: 0px 0px 0px 50px
}
div p{font-size: 19}
.box{padding: 5px
}

.box1 {border:black 5px double;
float:left;
padding: 5px;
width:47%;
}
.box2 {border:black 5px double;
float:right;
padding: 5px;
width:47%;
}
main h1{
    text-shadow: 5px 5px #B2F1FF;
    
}
img{
    display: block;
    width: 100%;
    }
    
.cover{position: absolute
}
