body{
    font-family: Monospace;
     background-color:#DED9D9;
}

header{
    background-color: #B2F1FF;
    font-size: 33;
    width: 100%;
}
    nav a:hover{
        color: red
    }
    nav a:visited{
    color: purple
    }
    nav a{text-decoration: none
    }
    
h1{text-align: center}
h2{text-align: center}
.cover h1{
    text-align: left;
    margin-left: 30px;
    font-size:90;
}
.cover h2{
    margin: 200px 150px 30px 0px;
    font-size:60;
    background-color: #FFD7B0;
}
.cover p{
    margin: 5px 0px 40px 50px;
    font-size:60;
    background-color: #FFD7B0;
}
.cover a{
    padding: 5px;
    text-decoration: none;
    font-family: Monospace;
    font-size: 45;
    border: 1px black solid;
    background-color:  #B2F1FF;
    margin: 70px;
}
.cover a:hover{
  color: white;
  border: 1px white solid;
  padding-right: 30px;
  background: grey;
  transition: all 0.5s linear;
}
div p{font-size: 19}
.box{padding: 5px
}

.box1 {border:black 5px double;
float:left;
padding: 5px;
width:47%;
}
.box2 {border:black 5px double;
float:right;
padding: 5px;
width:47%;
}
main h1{
    text-shadow: 5px 5px #B2F1FF;
    
}
img{
    
    display: block;
    width: 100%;
    filter: opasity=0px
    }
    
.cover{position: absolute
}

.menu{
    display: flex;


}
.second{
    margin-left: 30px
}
